body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* Light weight */
}

.solid-shadow {
    box-shadow: 10px 10px 0px 0px black;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.custom-header {
    background-color: #1f2937; /* Dark gray */
    border-bottom: 2px solid #3b82f6; /* Blue border */
}

.custom-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #2d3748; /* Slightly lighter gray */
    border-radius: 8px;
}

.custom-search-form {
    margin-top: 10px;
}

.custom-input {
    border: 1px solid #4a5568; /* Gray border */
}

.custom-button {
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.photo-card {
    border-radius: 0; /* Remove border-radius for sharp corners */
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1); /* Extend the shadow further to the right and bottom */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.photo-card:hover {
    transform: translate(4px, 4px); /* Move the card inward to the right and bottom */
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1); /* Remove shadow on hover */
}

.love-icon {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.love-icon:hover {
    transform: scale(1.2); /* Perbesar ikon saat di-hover */
}

.love-icon.wishlisted {
    filter: hue-rotate(0deg) brightness(1.2); /* Warna merah untuk ikon yang sudah di-wishlist */
}

#notification-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #38a169; /* Green */
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#notification-popup.show {
    opacity: 1;
    transform: translateY(0);
}

.photo-card img {
    transition: transform 0.2s ease, filter 0.2s ease;
}

.photo-card img:hover {
    transform: scale(1.2); /* Slightly enlarge the icon on hover */
    filter: brightness(1.2); /* Brighten the icon */
}
